<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lloydtorres.stately">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.lloydtorres.stately.core.StatelyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <meta-data android:name="DATABASE" android:value="stately.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="false" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.lloydtorres.stately.dto" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.StatelyActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".explore.ExploreActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.WithStatusBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="com.lloydtorres.stately.explore" />
            </intent-filter>
        </activity>
        <activity
            android:name=".census.TrendsActivity"
            android:label="@string/trends_title_generic"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.WithStatusBar">
        </activity>
        <activity
            android:name=".issues.IssueDecisionActivity"
            android:label="@string/menu_issues"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.WithStatusBar">
        </activity>
        <activity
            android:name=".issues.IssueResultsActivity"
            android:label="@string/issue_legislation_passed"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.WithStatusBar">
        </activity>
        <activity
            android:name=".telegrams.TelegramReadActivity"
            android:label="@string/menu_telegrams"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.WithStatusBar">
        </activity>
        <activity
            android:name=".telegrams.TelegramComposeActivity"
            android:label="@string/menu_telegrams"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.WithStatusBar">
        </activity>
        <activity
            android:name=".region.MessageBoardActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.WithStatusBar">
        </activity>
        <activity
            android:name=".wa.ResolutionActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.WithStatusBar">
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/menu_settings"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.WithStatusBar">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="651c62b07195273645b7c74e9b21a68bf3d124cd" />
    </application>

</manifest>
